.about__main {
  padding: 3rem;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-gap: 2rem;
}

.about__quotes {
  margin-bottom: 3rem;
}

.about__img {
  position: relative;
  width: 100%;
  /* transform: scale(1.2); */
  z-index: -1;
  margin-top: 1rem;
}

.about__head {
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: lowercase;
  line-height: 0.8;
}
.about__head__one {
  font-size: 7rem;
  text-align: left;
}
.about__head__two {
  color: #820000;
  text-align: right;
  font-size: 8rem;
  z-index: 2;
}

.about__text {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-top: 1rem;
}
.about__sec__head {
  position: relative;
}

.about__sec__head::after {
  position: absolute;
  content: "";
  width: 15rem;
  height: 0.5rem;
  background-color: #820000;
  top: 0;
  left: 0;
  display: block;
}

