.owner {
  margin: 4rem 0rem 3rem;
  padding: 0 4rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 4rem;
  align-items: center;
}

.owner--img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 50%;
  outline: 2px solid #820000;
  outline-offset: 1rem;
  box-shadow: 0rem 3rem 6rem rgba(0, 0, 0, 0.2);
}

.owner__img--div {
  position: relative;
  user-select: none;
}

.owner__img--div::before {
  content: "";
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 47%;
  left: 53%;
  height: 26rem;
  border-radius: 50%;
  width: 26rem;
  border: 2px solid #353535;
  z-index: -1;
}

.ownerDetails > h4 {
  font-size: 2rem;
  font-weight: 600;
}

.ownerDetails > h2 {
  font-size: 3.5rem;
  line-height: 1.2;
  text-transform: capitalize;
}

.ownerDetails > h2:nth-of-type(1) {
  color: #820000;
}

.ownerDetails > p {
  margin: 2rem 0;
  font-size: 1.6rem;
  line-height: 1.4;
  text-transform: capitalize;
}

.owner__button {
  display: flex;
  gap: 2rem;
}

/* Portfolio */

.portfolio {
  margin: 5rem 0 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
}

.portfolio__item {
  width: 100%;
  padding: 1.5rem;
  transition: 0.5s ease;
  position: relative;
}

.portfolio__image {
  width: 100%;
  height: 17rem;
  backface-visibility: hidden;
  object-fit: cover;
  position: relative;
  /* outline-offset: 0.7rem; */
  object-position: top;
  z-index: 1;
  margin-bottom: 0.2rem;
}

.portfolio__item > h5 {
  color: #820000;
  text-transform: capitalize;
  font-size: 1.3rem;
  background-color: rgb(219, 219, 219);
  padding: 0rem 0.5rem;
  text-align: center;
}

.portfolio__overlay {
  opacity: 0;
  z-index: 5;
  transition: all 0.3s;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio__overlay > h3 {
  font-size: 1.7rem;
  text-transform: capitalize;
  margin-top: 0.8rem;
}
.portfolio__item:hover .portfolio__image {
  filter: blur(2.5px);
  opacity: 0.3;
}

.portfolio__item:hover .portfolio__overlay {
  opacity: 1;
  top: 50%;
}

.portfolioCta {
  text-align: center;
  margin-top: 1rem;
}

.portfolio__text {
  color: #eee;

  line-height: 1.5;
  width: 45%;
  margin: 1rem 0;
}
