.navigation {
    display: grid;
    grid-template-columns: 15% 1fr 20%;
  }
  
  .navigation_tertiary {
    color: #820000;
    font-size: 7rem;
    padding: 0 2rem;
  }
  .navigation__primary {
    padding: 1rem 2rem 1rem 1rem;
    border-radius: 0.5rem;
    border-right: 0.5rem solid #353535;
  }
  .navigation__sub {
    margin-bottom: 0.5rem;
  }
  .navigation__secondary {
    padding: 1rem;
    align-self: flex-end;
  }
  .navigation__secondary_data {
    font-size: 1.4rem;
    font-weight: 400;
    position: relative;
    margin-bottom: 0.3rem;
    letter-spacing: 1.1px;
    padding-bottom: 0.3rem;
  }
  .navigation__secondary_data:nth-child(2) {
    font-weight: 900;
    text-transform: uppercase;
  }
  .navigation__secondary_data:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 6rem;
    background-color: #353535;
    height: 1px;
  }
  