* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 1.1rem;
  background-color: #353535;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d1d1d1;
  box-shadow: 4rem 2rem 4rem rgba(0, 0, 0, 0.5);
  height: 5rem;
}

h2 {
  font-size: 3.5rem;
}

p {
  color: #353535;
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
}
/* 650006 */

::selection {
  background-color: #353535;
  color: #fffbf4;
}

/* TypoGraphy */
.__head {
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #820000;
  margin-bottom: 0.5rem;
}

.whiteText {
  color: rgba(252, 249, 245, 0.88);
}

.redText {
  color: #820000;
}

.blackText {
  color: #242424;
}
